/* src/components/Switch/Switch.module.css */

.switch {
  position: relative;
  display: inline-block;
  width: 44px; /* Daha minimal */
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  border: 1px solid #555;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* İç top */
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #D4AF37; /* Lüks Altın */
  border-color: #D4AF37;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D4AF37;
}

input:checked + .slider:before {
  transform: translateX(19px); /* Kayma mesafesi */
}